@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes slide {
  0%,
  25% {
    transform: translateY(0%);
  }
  25%,
  50% {
    transform: translateY(-25%);
  }
  50%,
  75% {
    transform: translateY(-50%);
  }
  75%,
  100% {
    transform: translateY(-75%);
  }
}

.animate-slide {
  animation: slide 12s linear infinite;
}
