@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes slide {
  0%,
  25% {
    transform: translateY(0%);
  }
  25%,
  50% {
    transform: translateY(-25%);
  }
  50%,
  75% {
    transform: translateY(-50%);
  }
  75%,
  100% {
    transform: translateY(-75%);
  }
}

.animate-slide {
  animation: slide 12s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.aspect-w-4 {
  position: relative;
  padding-bottom: 125%; /* 5:4 aspect ratio */
}

.aspect-h-5 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
